TOKEN_BOT="DISCORD BOT TOKEN"
RULE34_USER_ID="RULE34 USER ID"
RULE34_API_KEY="RULE34 API KEY"

# used to define which appsettings to use
# always optional (passed in the docker-compose.yml file)
ENV="dev | prd"
